<div class="row">
    <%= form_tag(controller: "tm", action: "compute", method: "post") do %>
        </br>
        </br>
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel white">
                    <div class="row">
                        <h3 class="center deep-purple-text text-darken-1">Create Turing Machine</h3>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= text_field_tag(:states, nil, :required => true)%>
                            <label for="states">States</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:inputAlphabet) %>
                            <label for="inputAlphabet">Input Alphabet</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:tapeAlphabet) %>
                            <label for="tapeAlphabet">Tape Alphabet</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:start) %>
                            <label for="start">Initial State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <h5>Transitions</h5>
                        </div>
                        <div class="col s12 m4 pull-m2">
                            <a onclick="addTMRow()" class="btn deep-purple darken-1">Add Transition</a>
                        </div>
                    </div>
                    <div id="TMtransitions">
                        <div id="TMtransitionRow">
                        </div>
                    </div>

                    <div class="row">
                        <div class="center">
                            <div class="input-field col s12">
                                <%= submit_tag("Compute",:class => "btn deep-purple darken-1") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div style="display: none;" id="new_tm_transition_row">
    <%= render partial: "transitions" %>
</div>

<script>

    var transition_row = "";
    var current_stateID = "current_state_";
    var symbolID = "symbol_";
    var destinationID = "destination_";
    var writeID = "write_";
    var moveID = "move_";

    var id = 0;
    var length = 0;

    var array_inside = [];
    var array_outside = [];

    function addRow(){
        current_stateID += id;
        symbolID += id;
        destinationID += id;
        writeID += id;
        moveID += id;
        transition_row = "<div class=\"row\">";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"current_state\">Current State</label>";
        transition_row += "<input id="+current_stateID+" name=\"current_state\" type=\"text\" class=\"validate current_state\"></style></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"symbol\">Symbol</label>";
        transition_row += "<input id="+symbolID+" name=\"symbol\" type=\"text\" class=\"validate symbol\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"destination\">Destination</label>";
        transition_row += "<input id="+destinationID+" type=\"text\" class=\"validate destination\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"push\">Write</label>";
        transition_row += "<input id="+writeID+" type=\"text\" class=\"validate write\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"pop\">Move</label>";
        transition_row += "<input id="+moveID+" type=\"text\" class=\"validate move\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<a href=\"#\" class=\"remove-row\" onclick='removeRow($(this))'>";
        transition_row += "<i class=\"material-icons deep-purple-text text-darken-1\">delete</i></a></div></div>";
        $("#TMtransitionRow").append(transition_row);
        id += 1;
        current_stateID = "current_state_";
        symbolID = "symbol_";
        destinationID = "destination_";
        writeID = "write_";
        moveID = "move_";
    }

    function getData(){
        for(var i=0; i < id; i++){
            array_inside.push($("#current_state_"+i).val());
            array_inside.push($("#symbol_"+i).val());
            array_inside.push($("#destination_"+i).val());
            array_inside.push($("#push_"+i).val());
            array_inside.push($("#pop_"+i).val());
            array_outside.push("{"+array_inside+"}");
            array_inside = []; 
        }
        alert(array_outside);
        $('form').submit();
        array_outside = [];
    }

    function removeRow(element){
        element.parent().parent().remove();
    }

</script>