<div class="row">
    <%= form_tag(controller: "tm", action: "compute", method: "post") do %>
        </br>
        </br>
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel white">
                    <div class="row">
                        <h3 class="center deep-purple-text text-darken-1">Create Turing Machine</h3>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= text_field_tag(:states, nil, :required => true)%>
                            <label for="states">States</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:input_alphabet) %>
                            <label for="input_alphabet">Input Alphabet</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:tape_alphabet) %>
                            <label for="tape_alphabet">Tape Alphabet</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:start) %>
                            <label for="start">Initial State</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:accept) %>
                            <label for="accept">Accept State</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:reject) %>
                            <label for="reject">Reject State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <h5>Transitions</h5>
                        </div>
                        <div class="col s12 m4 pull-m2">
                            <a onclick="addTMRow()" class="btn deep-purple darken-1">Add Transition</a>
                        </div>
                    </div>
                    <div id="TMtransitions">
                        <div id="TMtransitionRow">
                        </div>
                    </div>

                    <div class="row">
                        <div class="center">
                            <div class="input-field col s12">
                                <%= submit_tag("Compute",:class => "btn deep-purple darken-1") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div style="display: none;" id="new_tm_transition_row">
    <%= render partial: "transitions" %>
</div>