<div class="row">
    <%= form_tag(controller: "tm", action: "compute", method: "post") do %>
        </br>
        </br>
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel white">
                    <div class="row">
                        <h3 class="center deep-purple-text text-darken-1">Create Turing Machine</h3>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= text_field_tag(:states, nil, :required => true)%>
                            <label for="states">States</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:inputAlphabet) %>
                            <label for="inputAlphabet">Input Alphabet</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:tapeAlphabet) %>
                            <label for="tapeAlphabet">Tape Alphabet</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:start) %>
                            <label for="start">Initial State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <h5>Transitions</h5>
                        </div>
                        <div class="col s12 m4 pull-m2">
                            <a onclick="addRow()" class="btn deep-purple darken-1">Add Transition</a>
                        </div>
                        <div class="col s12 m4 pull-m3">
                            <a onclick="ejemplo1()" class="btn deep-purple darken-1">Ejemplo - Susbstring 101</a>
                        </div>
                    </div>
                    <div id="TMtransitions">
                        <div id="TMtransitionRow">
                        </div>
                    </div>

                    <%= hidden_field_tag 'transitions', [] %>

                    <div class="row">
                        <div class="center">
                            <div class="input-field col s12">
                                <button class="btn deep-purple darken-1"onclick="getData()">Compute</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div style="display: none;" id="new_tm_transition_row">
    <%= render partial: "transitions" %>
</div>

<script>

    var transition_row = "";
    var current_stateID = "current_state_";
    var symbolID = "symbol_";
    var destinationID = "destination_";
    var writeID = "write_";
    var moveID = "move_";

    var id = 0;
    var length = 0;

    var array_inside = [];
    var array_outside = [];

    function addRow(){
        current_stateID += id;
        symbolID += id;
        destinationID += id;
        writeID += id;
        moveID += id;
        transition_row = "<div class=\"row\">";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"current_state\">Current State</label>";
        transition_row += "<input id="+current_stateID+" name=\"current_state\" type=\"text\" class=\"validate current_state\"></style></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"symbol\">Symbol</label>";
        transition_row += "<input id="+symbolID+" name=\"symbol\" type=\"text\" class=\"validate symbol\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"destination\">Destination</label>";
        transition_row += "<input id="+destinationID+" type=\"text\" class=\"validate destination\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"push\">Write</label>";
        transition_row += "<input id="+writeID+" type=\"text\" class=\"validate write\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"pop\">Move</label>";
        transition_row += "<input id="+moveID+" type=\"text\" class=\"validate move\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<a href=\"#\" class=\"remove-row\" onclick='removeRow($(this))'>";
        transition_row += "<i class=\"material-icons deep-purple-text text-darken-1\">delete</i></a></div></div>";
        $("#TMtransitionRow").append(transition_row);
        id += 1;
        current_stateID = "current_state_";
        symbolID = "symbol_";
        destinationID = "destination_";
        writeID = "write_";
        moveID = "move_";
    }

    function getData(){
        for(var i=0; i < id; i++){
            res = {
                current_state: $("#current_state_"+i).val(),
                symbol: $("#symbol_"+i).val(),
                destination: $("#destination_"+i).val(),
                write: $("#write_"+i).val(),
                move: $("#move_"+i).val()
            }
            array_outside.push(res);
        }
        $("[name='transitions']").val(JSON.stringify(array_outside));
        $('form').submit();
        array_outside = [];
    }

    function removeRow(element){
        element.parent().parent().remove();
    }

    function ejemplo1(){
        $("#states").focus();
        $("#states").val("A,B,C");
        $("#inputAlphabet").focus();
        $("#inputAlphabet").val("0,1");
        $("#tapeAlphabet").focus();
        $("#tapeAlphabet").val("0,1");
        $("#start").focus();
        $("#start").val("A");

        for(var i = 0; i < 5; i++){
            addRow();
        }

        $("#current_state_0").focus();
        $("#current_state_0").val("A");
        $("#current_state_1").focus();
        $("#current_state_1").val("A");
        $("#current_state_2").focus();
        $("#current_state_2").val("B");
        $("#current_state_3").focus();
        $("#current_state_3").val("B");
        $("#current_state_4").focus();
        $("#current_state_4").val("C");
        $("#current_state_5").focus();
        $("#current_state_5").val("C");

        $("#symbol_0").focus();
        $("#symbol_0").val("0");
        $("#symbol_1").focus();
        $("#symbol_1").val("1");
        $("#symbol_2").focus();
        $("#symbol_2").val("1");
        $("#symbol_3").focus();
        $("#symbol_3").val("0");
        $("#symbol_4").focus();
        $("#symbol_4").val("1");
        $("#symbol_5").focus();
        $("#symbol_5").val("0");

        $("#destination_0").focus();
        $("#destination_0").val("A");
        $("#destination_1").focus();
        $("#destination_1").val("B");
        $("#destination_2").focus();
        $("#destination_2").val("B");
        $("#destination_3").focus();
        $("#destination_3").val("C");
        $("#destination_4").focus();
        $("#destination_4").val("ACCEPT");
        $("#destination_5").focus();
        $("#destination_5").val("A");

        $("#write_0").focus();
        $("#write_0").val("0");
        $("#write_1").focus();
        $("#write_1").val("1");
        $("#write_2").focus();
        $("#write_2").val("1");
        $("#write_3").focus();
        $("#write_3").val("0");
        $("#write_4").focus();
        $("#write_4").val("1");
        $("#write_5").focus();
        $("#write_5").val("0");

        $("#move_0").focus();
        $("#move_0").val("R");
        $("#move_1").focus();
        $("#move_1").val("R");
        $("#move_2").focus();
        $("#move_2").val("R");
        $("#move_3").focus();
        $("#move_3").val("R");
        $("#move_4").focus();
        $("#move_4").val("R");
        $("#move_5").focus();
        $("#move_5").val("R");

    }


</script>
