

<table class='striped'>
    <thead>
        <tr>
            <th data-field="id">Símbolo</th>
            <th data-field="name">Contenido</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Q</td>
            <td><% @dfa.states.each do |state| %><%= state%> <% end %></td>
        </tr>
        <tr>
            <td>Σ</td>
            <td> <% @dfa.alphabet.each do |alphabet| %><%= alphabet%> <% end %> </td>
        </tr>
        <tr>
            <td>δ</td>
            <td> <%= @dfa.transitions %> </td>
        </tr>
        <tr>
            <td>Q0</td>
            <td> <%= @dfa.start %> </td>
        </tr>
        <tr>
            <td>F</td>
            <td> <% @dfa.accept.each do |accept| %><%= accept%> <% end %>  </td>
        </tr>
    </tbody>
</table>



<div class="row">
    <%= form_tag(controller: "dfa", action: "consume", method: "post") do %>
        <div class="input-field col s6">
            <%= label_tag(:input_string, "Input:") %>
            <%= text_field_tag(:input_string) %>
        </div>
        <%= hidden_field_tag 'states', @dfa.states %>
        <%= hidden_field_tag 'alphabet', @dfa.alphabet %>
        <%= hidden_field_tag 'start', @dfa.start %>
        <%= hidden_field_tag 'accept', @dfa.accept %>
        <div class="input-field col s12">
            <%= submit_tag("Consume") %>
        </div>
    <% end %>
</div>
