<div class="row">
    <%= form_tag(controller: "dfa", action: "compute", method: "post") do %>
        </br>
        </br>
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel white">
                    <div class="row">
                        <h3 class="center deep-purple-text text-darken-1">Create DFA</h3>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= text_field_tag(:states, nil, :required => true)%>
                            <label for="states">States</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:alphabet) %>
                            <label for="alphabet">Alphabet</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:start) %>
                            <label for="start">Initial State</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <%= text_field_tag(:accept) %>
                            <label for="accept">Accept States</label>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col s12 m4">
                            <h5>Transitions</h5>
                        </div>
                        <div class="col s12 m4 pull-m2">
                            <a onclick="addRow()" class="btn deep-purple darken-1">Add Transition</a>
                        </div>
                    </div> 
                    <div id="transitions">
                        <div id="transitionRow">
                        </div>
                    </div>

                    <%= hidden_field_tag 'transitions', [] %>

                    <div class="row">
                        <div class="center">
                            <div class="input-field col s12">
                                <button class="btn deep-purple darken-1" onclick="getData()">Compute</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div style="display: none;" id="new_transition_row">
    <%= render partial: "transitions" %>
</div>


<script>

    var transition_row = "";
    var current_stateID = "current_state_";
    var symbolID = "symbol_";
    var destinationID = "destination_";
    var id = 0;
    var length = 0;

    var array_inside = [];
    var array_outside = [];

    function addRow(){
        current_stateID += id;
        symbolID += id;
        destinationID += id;
        transition_row = "<div class=\"row\">";
        transition_row += "<div class=\"input-field col s3\">";
        transition_row += "<label for=\"current_state\">Current State</label>";
        transition_row += "<input id="+current_stateID+" name=\"current_state\" type=\"text\" class=\"validate current_state\"></style></div>";
        transition_row += "<div class=\"input-field col s3\">";
        transition_row += "<label for=\"symbol\">Symbol</label>";
        transition_row += "<input id="+symbolID+" name=\"symbol\" type=\"text\" class=\"validate symbol\"></div>";
        transition_row += "<div class=\"input-field col s4\">";
        transition_row += "<label for=\"destination\">Destination</label>";
        transition_row += "<input id="+destinationID+" type=\"text\" class=\"validate destination\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<a href=\"#\" class=\"remove-row\" onclick='removeRow($(this))'>";
        transition_row += "<i class=\"material-icons deep-purple-text text-darken-1\">delete</i></a></div></div>";
        $("#transitionRow").append(transition_row);
        id += 1;
        current_stateID = "current_state_";
        symbolID = "symbol_";
        destinationID = "destination_";
    }

    function getData(){
        var array_outside = [];
        for(var i=0; i < id; i++){
            res = {
                current_state: $("#current_state_"+i).val(),
                symbol: $("#symbol_"+i).val(),
                destination: $("#destination_"+i).val()
            }
            array_outside.push(res);
        }
        console.log(array_outside);
        $("[name='transitions']").val(JSON.stringify(array_outside));
        $('form').submit();
        array_outside = [];

    }

    function removeRow(element){
        element.parent().parent().remove();
    }
</script>

