<div class="cy" id="cy"></div>


<table class='striped'>
    <thead>
        <tr>
            <th data-field="id">Símbolo</th>
            <th data-field="name">Contenido</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Q</td>
            <td><% @pda.states.each do |state| %>  <%= state%> <% end %></td>
        </tr>
        <tr>
            <td>Σ</td>
            <td> <% @pda.alphabet.each do |alphabet| %>  <%= alphabet%> <% end %> </td>
        </tr>
        <tr>
        	<td>Γ</td>
        	<td><% @pda.stack_user.each do |stack| %>  <%= stack%> <% end %></td>
        </tr>
        <tr>
            <td>δ</td>
            <td>
                <table> <!--Comienza la tabla anidada de transiciones -->
                    <thead>
                        <tr>
                            <th data-field="id">Estado</th>
                            <th data-field="name">Movimientos</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @pda.transitions.each do |trans_key, trans_val| %>
                        <tr>
                            <td><%= trans_key %></td>
                            <td>
                                <% trans_val.each do |key, value|%>
                                    <%= key %> -> <%= value %> <br>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </td> <!--Aqui termina la row de transiciones -->
        </tr>
        <tr>
            <td>Q<sub>0</sub></td>
            <td> <%= @pda.start %> </td>
        </tr>
        <tr>
            <td>F</td>
            <td> <% @pda.accept.each do |accept| %><%= accept%> <% end %>  </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <%= form_tag(controller: "pda", action: "consume", method: "post") do %>
        <div class="input-field col s6">
            <%= label_tag(:input_string, "Input:") %>
            <%= text_field_tag(:input_string) %>
        </div>
        <%= hidden_field_tag 'states', @pda.states %>
        <%= hidden_field_tag 'alphabet', @pda.alphabet %>
        <%= hidden_field_tag 'start', @pda.start %>
        <%= hidden_field_tag 'accept', @pda.accept %>
        <%= hidden_field_tag 'stack_user', @pda.stack_user %>
        <div class="input-field col s12">
            <%= submit_tag("Consume") %>
        </div>
    <% end %>
</div>

<script type="text/javascript">
    var cy = cytoscape({
      container: document.getElementById('cy'),

      zoomingEnabled: true,
      userZoomingEnabled: false,
      panningEnabled: true,
      userPanningEnabled: true,

      boxSelectionEnabled: false,
      autounselectify: true,

      style: cytoscape.stylesheet()
        .selector('node')
          .css({
            'content': 'data(id)',
            'text-valign': 'center',
            'color': 'white',
            'text-outline-width': 2,
            'backgrund-color': '#999',
            'text-outline-color': '#999'
          })
        .selector('edge')
          .css({
            'target-arrow-shape': 'triangle',
            'width': 4,
            'line-color': '#ddd',
            'label': 'data(label)',
            'target-arrow-color': '#ddd',
            'curve-style': 'bezier'
          })
        .selector('.highlighted')
          .css({
            'background-color': '#5e35b1',
            'line-color': '#5e35b1',
            'target-arrow-color': '#5e35b1',
            'transition-property': 'background-color, line-color, target-arrow-color',
            'transition-duration': '0.5s'
          }),

      elements: <%= @bringElements %>,

      layout: {
        name: 'breadthfirst',
        directed: true,
        roots: '#a',
        padding: 10
      }
    });

</script>
