<div class="row">
    <%= form_tag(controller: "pda", action: "compute", method: "post") do %>
        </br>
        </br>
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel white">
                    <div class="row">
                        <h3 class="center deep-purple-text text-darken-1">Create PDA</h3>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= text_field_tag(:states,nil, :id => "states")%>
                            <label for="states">States</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m3">
                            <%= text_field_tag(:alphabet,nil, :id => "alphabet") %>
                            <label for="alphabet">Alphabet</label>
                        </div>
                        <div class="input-field col s12 m3">
                            <%= text_field_tag(:stack_user,nil, :id => "stack_alphabet") %>
                            <label for="stack_user">Stack Alphabet</label>
                        </div>
                        <div class="input-field col s12 m3">
                            <%= text_field_tag(:start,nil, :id => "initial") %>
                            <label for="start">Initial State</label>
                        </div>
                        <div class="input-field col s12 m3">
                            <%= text_field_tag(:accept,nil, :id => "accept") %>
                            <label for="accept">Accept States</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <h5>Transitions</h5>
                        </div>
                        <div class="col s12 m4 pull-m2">
                            <a onclick="addRow()" class="btn deep-purple darken-1">Add Transition</a>
                        </div>
                        <div class="col s12 m1 pull-m3">
                            <a onclick="ejemplo1()" class="btn deep-purple darken-1">Ejemplo 1</a>
                        </div>
                        <div class="col s12 m1 pull-m2">
                            <a onclick="ejemplo2()" class="btn deep-purple darken-1">Ejemplo 2</a>
                        </div>
                        <div class="col s12 m1 pull-m1">
                            <a onclick="ejemplo3()" class="btn deep-purple darken-1">Ejemplo 3</a>
                        </div>
                    </div> 
                    <div id="PDAtransitions">
                        <div id="PDAtransitionRow">
                        </div>
                    </div>
                    
                    <%= hidden_field_tag 'transitions', [] %>

                    <div class="row">
                        <div class="center">
                            <div class="input-field col s12">
                                <button class="btn deep-purple darken-1"onclick="getData()">Compute</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div style="display: none;" id="new_pda_transition_row">
    <%= render partial: "transitions" %>
</div>

<script>

    var transition_row = "";
    var current_stateID = "current_state_";
    var symbolID = "symbol_";
    var destinationID = "destination_";
    var pushID = "push_";
    var popID = "pop_";

    var id = 0;
    var length = 0;

    var array_inside = [];
    var array_outside = [];

    function addRow(){
        current_stateID += id;
        symbolID += id;
        destinationID += id;
        pushID += id;
        popID += id;
        transition_row = "<div class=\"row\">";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"current_state\">Current State</label>";
        transition_row += "<input id="+current_stateID+" name=\"current_state\" type=\"text\" class=\"validate current_state\"></style></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"symbol\">Symbol</label>";
        transition_row += "<input id="+symbolID+" name=\"symbol\" type=\"text\" class=\"validate symbol\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"destination\">Destination</label>";
        transition_row += "<input id="+destinationID+" type=\"text\" class=\"validate destination\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"push\">Push</label>";
        transition_row += "<input id="+pushID+" type=\"text\" class=\"validate push\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<label for=\"pop\">Pop</label>";
        transition_row += "<input id="+popID+" type=\"text\" class=\"validate pop\"></div>";
        transition_row += "<div class=\"input-field col s2\">";
        transition_row += "<a href=\"#\" class=\"remove-row\" onclick='removeRow($(this))'>";
        transition_row += "<i class=\"material-icons deep-purple-text text-darken-1\">delete</i></a></div></div>";
        $("#PDAtransitionRow").append(transition_row);
        id += 1;
        current_stateID = "current_state_";
        symbolID = "symbol_";
        destinationID = "destination_";
        pushID = "push_";
        popID = "pop_";
    }

    function getData(){
        for(var i=0; i < id; i++){
            res = {
                current_state:$("#current_state_"+i).val(),
                symbol:$("#symbol_"+i).val(),
                destination:$("#destination_"+i).val(),
                push:$("#push_"+i).val(),
                pop:$("#pop_"+i).val()
            }

            array_outside.push(res);

        }
        $("[name='transitions']").val(JSON.stringify(array_outside));
        $('form').submit();
        
        array_outside = [];
    }

    function removeRow(element){
        element.parent().parent().remove();
    }

    function ejemplo1(){
        $("#states").focus();
        $("#states").val("q1,q2,q3,q4");
        $("#alphabet").focus();
        $("#alphabet").val("0,1,&");
        $("#stack_alphabet").focus();
        $("#stack_alphabet").val("0,$");
        $("#initial").focus();
        $("#initial").val("q1");
        $("#accept").focus();
        $("#accept").val("q4");

        for(var i = 0; i < 5;i++){
            addRow();
        }

        $("#current_state_0").focus();
        $("#current_state_0").val("q1");
        $("#current_state_1").focus();
        $("#current_state_1").val("q2");
        $("#current_state_2").focus();
        $("#current_state_2").val("q2");
        $("#current_state_3").focus();
        $("#current_state_3").val("q3");
        $("#current_state_4").focus();
        $("#current_state_4").val("q4");

        $("#symbol_0").focus();
        $("#symbol_0").val("&");
        $("#symbol_1").focus();
        $("#symbol_1").val("0");
        $("#symbol_2").focus();
        $("#symbol_2").val("1");
        $("#symbol_3").focus();
        $("#symbol_3").val("1");
        $("#symbol_4").focus();
        $("#symbol_4").val("&");

        $("#destination_0").focus();
        $("#destination_0").val("q2");
        $("#destination_1").focus();
        $("#destination_1").val("q2");
        $("#destination_2").focus();
        $("#destination_2").val("q3");
        $("#destination_3").focus();
        $("#destination_3").val("q3");
        $("#destination_4").focus();
        $("#destination_4").val("q4");

        $("#push_0").focus();
        $("#push_0").val("$");
        $("#push_1").focus();
        $("#push_1").val("0");
        $("#push_2").focus();
        $("#push_2").val("-");
        $("#push_3").focus();
        $("#push_3").val("-");
        $("#push_4").focus();
        $("#push_4").val("-");

        $("#pop_0").focus();
        $("#pop_0").val("-");
        $("#pop_1").focus();
        $("#pop_1").val("-");
        $("#pop_2").focus();
        $("#pop_2").val("0");
        $("#pop_3").focus();
        $("#pop_3").val("-");
        $("#pop_4").focus();
        $("#pop_4").val("$");
    }

    function ejemplo2(){

    }

    function ejemplo3(){

    }

</script>